.tags{
  font-family: monospace;
   font-style: italic;
    color: grey
}

.listTag1{
  font-family: monospace;
  font-style: italic;
   color: grey;
   float: left;
   width:100px;
}

.listTag2{
  font-family: monospace;
  font-style: italic;
   color: grey;
   float: left;
   margin-left:30px;
   width:200px;
}

.tag {
  font-family: monospace;
  font-style: italic;
  color: grey;
}

.regText{
  font-size:30px;
  font-style: bold;
  color:white
}

.linkText{
  color:orange;
  font-size: 20px;

}

.typeText{
  font-size:45px;
  font-style: bold;
  color:orange;
}