.tags{
  font-family: monospace;
   font-style: italic;
    color: grey;
    font-size:18px
}

.listTag1{
  font-family: monospace;
  font-style: italic;
   color: grey;
   float: left;
   width:100px;
   font-size:18px
}

.listTag2{
  font-family: monospace;
  font-style: italic;
   color: grey;
   float: left;
   margin-left:30px;
   width:200px;
   font-size:18px
}

.tag {
  font-family: monospace;
  font-style: italic;
  color: grey;
  font-size:18px
}

.regText{
  font-size:20px;
  font-style: bold;
  color:white
}

.linkText{
  color:orange;
  font-size: 20px;
}

.typeText{
  font-size:45px;
  font-style: bold;
  color:orange;
}

.myLogo{
  size: 30px;
}
